{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add New Manager</title>
    <link rel="stylesheet" href="{% static 'teamwebsite/style.css' %}">
</head>
<body>
    <h1>Add New Manager</h1>
    <form method="post" action="{% url 'create_manager' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Manager</button>
    </form>
    <a href="{% url 'manager_list' %}">Back to Manager List</a>
<a href="{% url 'home' %}"><button type="button">Home</button></a> <!-- Home button -->
</body>
</html>
